<div class="col-md-8 col-md-offset-2">
  
  <div class="page-header">
    <h1>Cars <small>New car</small></h1>
  </div>

  <%= render 'form' %>

  <div class="col-md-9 col-md-offset-3">
    <%= link_to 'Back', cars_path, class: 'btn btn-default' %>
  </div>
</div>